<%- include('../partials/header-main') %>
  <div class="d-flex justify-content-between align-items-end mb-2">
    <h1 class="mb-2"><%= title %>  Fund</h1>
    <% if (title === 'List') { %>
      <div>
        <a href="<%= '/admin/funds/add' %> " class="btn btn-primary">Add</a>
      </div>
    <% } %>
  </div>

  <% if (title === 'List') { %>
    <%- include('components/table', {data, parseCurrency}) %> 
  <% } else { %>
    <%- include('components/form', {data, parseDate}) %> 
  <% } %>
<%- include('../partials/footer-main') %> 