<%- include('../partials/header-auth') %>
<%- include('components/navbar', {parseCurrency}) %>
<div class="container py-3">
  <h1 class="mb-4"><%= data.name %></h1>
  <a href="/admin/funds">Back</a>
  <%- include('components/table-fund-user', {users: data.users, parseCurrency}) %>
<%- include('../partials/footer') %> 