<div class="card shadow">
  <img
    src="http://localhost:3000/<%= fund.image_url %>" 
    class="card-img-top"
    alt="<%= fund.title %>"
    style="height: 150px; object-fit: cover;"
  >
  <div class="card-body">
    <h4 class="card-title mb-1">
      <%= fund.name %>
    </h4>
    <p class="card-subtitle text-muted">
      <%= fund.type %>
    </p>
    <div class="d-flex justify-content-between mt-4">
      <div>
        <h6 class="card-subtitle text-muted">
          Business Value
        </h6>
        <p class="card-text font-weight-bold">
          <%= parseCurrency(fund.business_value) %>
        </p>
      </div>
      <div class="text-right">
        <h6 class="card-subtitle text-muted">
          Investor
        </h6>
        <p class="card-text font-weight-bold">
          <%= fund.Users.length %> person
        </p>
      </div>
    </div>
    <h6 class="card-subtitle mt-3 mb-2 text-muted">
      Fund Raised
    </h6>
    <div class="progress">
      <div 
        class="progress-bar"
        role="progressbar"
        style="width: <%= Math.floor((fund.business_value / 3) / fund.business_value * 100) %>%"
      ></div>
    </div>
  </div>
</div>