<div class="card shadow">
  <div class="card-img-top w-100 overflow-hidden position-relative" style="height: 175px;">
    <p
      class="badge badge-primary position-absolute mt-3 mr-4"
      style="right: 0;padding: 5px 10px;">
      <%= fund.getRemainDate() %>  day
    </p>
    <img
      src="http://localhost:3000/<%= fund.image_url %>"
      class="img-fluid"
      alt="<%= fund.name %>"
    >
  </div>
  <div class="card-body">
    <h4 class="card-title mb-1">
      <%= fund.name %>
    </h4>
    <p class="card-subtitle text-muted">
      <%= fund.type %>
    </p>
    <div class="d-flex justify-content-between mt-4">
      <div>
        <h6 class="card-subtitle text-muted">
          Business Value
        </h6>
        <p class="card-text font-weight-bold">
          <%= parseCurrency(fund.business_value) %>
        </p>
      </div>
      <div class="text-right">
        <h6 class="card-subtitle text-muted">
          Investor
        </h6>
        <p class="card-text font-weight-bold">
          <%= fund.UserFunds.length %> person
        </p>
      </div>
    </div>
    <h6 class="card-subtitle mt-3 mb-2 text-muted">
      Fund Raised
    </h6>
    <div class="progress mb-2">
      <div 
        class="progress-bar"
        role="progressbar"
        style="width: <%= Math.floor(getFundRaised(fund.UserFunds) / fund.business_value * 100) %>%"
      ></div>
    </div>
    <% if (user) { %>
      <form class="mt-4" action="/userfund/buy" method="POST">
        <input type="hidden" name="FundId" value="<%= fund.id %> ">
        <label class="text-muted mb-1" for="amount">Buy Amount</label>
        <input
          type="range"
          class="custom-range buy-range"
          min="0"
          max="<%= `${(fund.business_value - getFundRaised(fund.UserFunds)) / 1e6}` %>"
          id="amount"
          name="amount"
          value="0"
        >
        <div class="d-flex justify-content-between">
          <p class="card-text font-weight-bold buy-amount"><%= parseCurrency(0) %></p>
          <button 
            type="submit"
            class="btn btn-primary"
          >
            Buy
          </button>
        </div>
      </form>
    <% } %>
  </div>
</div>