<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <th scope="row"><%= user.name %></th>
        <td><%= parseCurrency(user.amount) %></td>
        <td><%= user.status %></td>
        <td>
          <a 
            href="<%= `/admin/userfund/verify/${user.transaction_id}` %>" 
            class="btn btn-primary <%= user.status === 'Pending' ? '' : 'disabled' %>"
          >
            Verified
          </a>
          <a 
            href="<%= `/admin/userfund/reject/${user.transaction_id}` %>"
            class="btn btn-danger <%= user.status === 'Pending' ? '' : 'disabled' %>"
          >
            Reject
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>